---
layout: page
title: Projects
---
<link rel="stylesheet" href="/public/css/projects.css">

<p>My GitHub has started to get crowded, so here's some of the cooler things I've made, newest first. These were mostly made in under 24 hours, so they're mostly rough around the edges.</p>

{% for project in site.data.projects %}
	<div class="box css3-shadow">

		{% if project.image %}
			<a href="{{project.url}}">
				<img class="image-rounded" src="{{project.image}}">
			</a>
		{% endif %}

		<div style="padding-bottom: 3rem">
		<a class="projectTitle" style="float:left" href="{{project.url}}">{{project.name}}</a>

		{% if project.demo %}
		<a class="projectTitle" style="float:right" href="{{project.demo}}">Demo!</a>
		{% endif %}

		</div>

		<br>

		<div>
		{{project.description}}
		</div>
		{% if project.prize %}
			<br><i class="fa fa-trophy fa-lg"></i> {{project.prize}}
		{% endif %}
	</div>
{% endfor %}
