.image-rounded {
  border-radius: 15px 15px 15px;

  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

  margin-left: auto;
  margin-right:auto;
}

.landing {
  text-align: center;
  color: #777777;
  background-color: #202020;
  width: 100%;
  padding: 10%;
}

.landing .image-rounded {
	width: 250px;
}
.landing a {
  color: #fafafa;
}

a.:hover,
a.:focus {
  text-decoration: underline;
}
