---
layout: page
title: Projects
---
<link rel="stylesheet" href="/public/css/projects.css">

<p>My GitHub has started to get crowded, so here's a curated list of things I've made, newest first.</p>

{% for project in site.data.projects %}
	<div class="box css3-shadow">
		{% if project.image %}
			<a href="{{project.url}}">
				<img class="image-rounded" src="{{project.image}}">
			</a>
		{% endif %}
		<h3><a href="{{project.url}}">{{project.name}}</a></h3>
		{{project.description}}
		{% if project.prize %}
			<br><i class="fa fa-trophy fa-lg"></i> {{project.prize}}
		{% endif %}
	</div>
{% endfor %}
