---
layout: page
title: Work
---
<link rel="stylesheet" href="/public/css/projects.css">

<p>Since most of my paid work is closed source, there's not all that much code to show here.
As such, this is an annoted list of my employment history. </p>

{% for project in site.data.work %}
	<div class="box css3-shadow">
		{% if project.image %}
			<a href="{{project.url}}">
				<img class="image-rounded" src="{{project.image}}">
			</a>
		{% endif %}
		<h3><a href="{{project.url}}">{{project.name}}</a></h3>
		<h4>{{project.date}}</h4>
		{{project.description}}
	</div>
{% endfor %}
